*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png'),url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    overflow: hidden;
}
.text-degin{
    font-size: xx-large;
}
.btn{
    color: aliceblue;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 0 25px;
    height: 54px;
    border-radius: 5px;
    background-color: rgb(247, 145, 12);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 30px;
}
.banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
}
.title{
    font-weight: 600;
    font-size: 35px;
}
.name{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
.description{
    color: grey;
    font-size: 19px;
    margin-bottom: 15px;
}
/* main setion */
main{
    margin: 0 auto;
    max-width: 1140px;
}
section{
    margin-top: 130px;
}
/* section style */
.section{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 140px;
    text-align: center;
}
.section-title{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.section-description{
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-title{
    font-size: 20px;
    color: gray;
}
.about-info .info-description{
    font-weight: 700;
    font-size: 20px;
    color: rgb(28, 24, 24);
}
/* what i do */
.what-i-do{
    margin-top: 130px;
}
.skill{
    background-color: antiquewhite;
    box-shadow: 0 6px 50px black;
    border-radius: 5px;
    padding: 30px;
}
.section-skill{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.skill-description{
    color: blueviolet;
    font-size: 15px;
}
/* resume */
.resume-section{
    display: flex;
}
.resume-title{
    font-size:30px ;
}
.resume{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .paragraph{
    color: #757575;
}
.resume-button{
    margin-top: 10px;
    text-align: center;
}
/* contatct */
.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 100px 200px;
}
.contact .contact-title{
 text-align: left;
 margin-bottom: 24px;
}
.contact input[type="text"], input[type="email"], input[type="textarea"], textarea{
    margin-bottom: 24px;
    width: 100%;
    padding: 10px 15px;
}
.contact a{
    text-decoration: none;
    gap: 10px;
}
